<div class="container mx-auto mt-5">
  <!-- Imagem do post, se houver, com tamanho reduzido -->
  <% if @post.img_url.present? %>
    <div class="text-center mb-4">
      <%= image_tag @post.img_url, class: "mx-auto rounded-lg", style: "max-width: 300px;", alt: @post.title %>
    </div>
  <% end %>

  <!-- Título do post -->
  <h1 class="text-center text-3xl font-bold mb-4"><%= @post.title %></h1>

  <!-- Data de publicação -->
  <div class="text-center mb-3">
    <small class="text-gray-500">Publicado em: <%= @post.published_at.strftime('%d %B %Y') %></small>
  </div>

  <!-- Conteúdo do post -->
  <div class="post-body">
    <%= raw @post.body %>
  </div>

  <!-- Link para voltar para a página inicial ou lista de posts -->
  <div class="mt-5 text-center mb-5">
    <%= link_to "Voltar", root_path, class: "inline-block px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-600" %>
  </div>
</div>
